.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 585px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 400px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -18px 0 -67px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 385px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 330px;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 165px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 878px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 758px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 16px 0 0;
}

.u-section-2 .u-image-1 {
  width: 325px;
  height: 407px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 255px 14px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 14px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 758px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 131px 0 0;
}

.u-section-2 .u-image-2 {
  height: 438px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 699px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 161px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 625px;
  }

  .u-section-2 .u-image-2 {
    height: 361px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 272px;
    height: 341px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    height: 346px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 91px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 218px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 822px;
}

.u-section-3 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 702px;
  --gap: 30px;
}

.u-section-3 .u-list-item-1 {
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 78px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 16px auto 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 50px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 78px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 24px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 16px auto 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 50px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 78px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 24px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 16px auto 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 50px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 78px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 24px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 587px;
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-repeat: no-repeat;
  background-image: url("photo-1673266968891-9e4003c5a13f.jpeg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 50vh;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 542px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 210px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 60px 210px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 210px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1219px;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-6 .u-gallery-1 {
  height: 966px;
  margin: 40px 0 0;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  --gap: 30px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-text-2 {
  margin: 39px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-6 .u-gallery-1 {
    height: 797px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2695px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2085px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1832px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1153px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 884px;
}

.u-section-7 .u-text-1 {
  margin: 0 210px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 1002px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-2 {
  margin: 68px 0 0;
}

.u-section-7 .u-image-1 {
  height: 438px;
  margin-top: 93px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 758px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 16px 0 0;
}

.u-section-7 .u-image-2 {
  width: 325px;
  height: 407px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 50% 0%;
  margin: 0 0 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 255px 0 0 14px;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0 14px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 826px;
  }

  .u-section-7 .u-image-1 {
    height: 361px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 699px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 161px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 658px;
  }

  .u-section-7 .u-image-1 {
    height: 277px;
    margin-top: 31px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-2 {
    width: 272px;
    height: 341px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 0;
  }

  .u-section-7 .u-image-1 {
    height: 346px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1411px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 43px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 735px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-image-1 {
    height: 218px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-7 .u-image-2 {
    width: 255px;
    height: 289px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 43px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 591px;
}

.u-section-8 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 412px;
  --gap: 30px;
}

.u-section-8 .u-list-item-1 {
  --radius: 50px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-image-1 {
  width: 77px;
  height: 77px;
  background-image: url("hgghgh.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-8 .u-list-item-2 {
  --radius: 50px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  margin: 0;
}

.u-section-8 .u-image-2 {
  width: 77px;
  height: 77px;
  background-image: url("w.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-8 .u-text-6 {
  font-style: normal;
  margin: 21px 0 0;
}

.u-section-8 .u-text-7 {
  margin: 30px auto 60px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    height: auto;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 340px;
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-3 {
    width: auto;
  }

  .u-section-8 .u-text-6 {
    width: auto;
  }
} .u-section-9 {
  background-repeat: no-repeat;
  background-image: url("photo-1658235081453-e2df7aad0ab3.jpeg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 400px;
} .u-section-10 {
  background-image: none;
  min-height: 1087px;
}

.u-section-10 .u-shape-1 {
  height: 688px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-shape-2 {
  width: 437px;
  height: 817px;
  margin: -503px calc(((100% - 1140px) / 2)  + 158px) 0 auto;
}

.u-section-10 .u-image-1 {
  width: 908px;
  height: 757px;
  margin: -917px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-10 .u-group-1 {
  width: 692px;
  min-height: 397px;
  height: auto;
  margin: -308px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 40px;
}

.u-section-10 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-shape-2 {
    width: 392px;
    margin-right: calc(((100% - 940px) / 2)  + 138px);
  }

  .u-section-10 .u-image-1 {
    width: 738px;
    height: 680px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-10 .u-group-1 {
    width: 617px;
    margin-top: -230px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 1069px;
  }

  .u-section-10 .u-shape-1 {
    height: 584px;
  }

  .u-section-10 .u-shape-2 {
    width: 423px;
    height: 799px;
    margin-top: -399px;
    margin-right: calc(((100% - 720px) / 2)  + 35px);
  }

  .u-section-10 .u-image-1 {
    width: 604px;
    height: 556px;
    margin-top: -899px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-group-1 {
    width: 544px;
    margin-top: -134px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 970px;
  }

  .u-section-10 .u-shape-2 {
    width: 341px;
    height: 701px;
    margin-right: calc(((100% - 540px) / 2)  + 35px);
  }

  .u-section-10 .u-image-1 {
    width: 448px;
    height: 392px;
    margin-top: -801px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-group-1 {
    width: 483px;
    margin-top: -45px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 936px;
  }

  .u-section-10 .u-shape-2 {
    width: 240px;
    height: 666px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-image-1 {
    width: 298px;
    height: 243px;
    margin-top: -766px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-group-1 {
    width: 298px;
    min-height: 419px;
    margin-top: 46px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 68px;
  }
}